
.contact-content{
    height: 250px;
    height: 70vh;
    /*display: flex;
    background-color: rgb(220, 220, 249);*/
    margin-top: 32px;
    padding: 9px;
    position: relative;
    overflow: hidden;
}
.contact-content::after{
    content: "";
    background-image: url('../art3.jpg');
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
    z-index: -1;
}
